$red: #ce4648;
$white-font: #ffffff;
$blue: #b5c3cb;
$logo-font: Bungee, sans-serif;
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: $blue;
  color: $white-font;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  span {
    font-family: $logo-font;
  }
}

.navbar-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    color: $red;
  }
  .nav-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: $white-font;
  }
  :hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.animate {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1023px) {
  .navbar-top {
    background-color: transparent;
  }
}
