$red: #d26466;
$font-white: #ffffff;
$err-text: #6c6c6c;
$err-backgound: #d2646633;
$err-border: d264666e;
$font-family: Bungee, sans-serif;
$tweet-color: #545149;

.new-tweet {
  display: none;
}

.err {
  display: none;
  color: $err-text;
  text-align: center;
  margin-top: 10px;
  height: 39px;
  background-color: $err-backgound;
  border: 2px solid $err-border;
  border-radius: 4px;
}

.form-div {
  display: flex;
  justify-content: space-between;
  font-family: $font-family;
}

#tweet-text {
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 4px solid $tweet-color;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  overflow: none;
  resize: none;
  color: $tweet-color;
}

textarea:focus {
  outline: none;
}

.blue-button {
  background-color: #4056a1;
  color: $font-white;
  border: none;
  padding: 3px;
  font-size: 90%;
}

.tweets {
  border: 3px solid $tweet-color;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
}

.tweets:hover {
  box-shadow: 8px 8px #b5c3cb;
}

.icon:hover {
  color: #ceb8a6;
}

.tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $tweet-color;
  margin-bottom: 70px;
}

.tweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.6em;
  color: $tweet-color;
}

.tweets .content {
  width: 90%;
  border-bottom: 2px solid $tweet-color;
  font-weight: bold;
}

.tooLong {
  color: $red;
}

.scroll-btn {
  display: none;
  float: right;
  margin: 25px;
}

.scroll-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-white;
  position: fixed;
  bottom: 10px;
}

.circle {
  background: $red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
