.under-navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 520px;
  width: 100%;
  background-color: #CEB8A6;
  color:#ffffff;
  background-image: url(../images/rough-cloth.png);
}




/*
 .header-avatar img {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  
  margin: auto;
  
}
 */

 @media only screen and (min-width: 1024px) {
  
  .under-navbar {
    float: left;
    margin: 200px 50px;
    height: 50%;
    width: 40%;
  }
  
  
  
  
}
