.under-navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  width: 100%;
  background-color: #CEB8A6;
  color: #ffffff;
}

.image {
  background-image: url(../images/rough-cloth.png);
}

.header-avatar img {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  max-width: 70%;
  height: auto;
  margin: auto;
}

.header-name h2 {
  margin-top: 10px;
  text-align: center;
}
