.under-navbar {

  height: 400px;
  width: 100%;
  background-color: #CEB8A6;
  color: #ffffff;

}

.image {
  background-image: url(../images/rough-cloth.png);
}
.inside-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header-avatar{
  transform: scale(0.9);
  margin-top: 30%;

}

.header-name p {
  width: 100%;
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {


  .under-navbar {
    min-width: 20%;
    max-width: 30%;
    height: 15%;
    margin-top: 250px;
    margin-left: 5%;
    margin-right: 40px;
  }

}