.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #B5C3CB;
  color: #FFFFFF;
  padding: 0 1.5em;
  position:fixed;  /* change to fixed  */
}

.navbar-top span {
  font-family: Bungee, sans-serif;
}

.navbar-top-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-top-right i {
  color: red;
  transform: translateY(-20px);
}
