
.new-tweet {
  display: none;
}

.err {
  display: none;
  color: #6c6c6c;
  text-align: center;
  margin-top: 10px;
  height: 39px;
  background-color: #d2646633;
  border: 2px solid #d264666e;
  border-radius: 4px;
  
}

.form-div {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}


#tweet-text {
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  margin-bottom: 10px;
  font-size: 20px;
  height: 40px;
  overflow: none;
  resize: none;
  color: #545149;
}

textarea:focus {
  outline: none;
}

.blue-button {
  background-color: #4056A1;
  color: #ffffff;
  border:none; 
  padding: 3px;
  font-size: 90%;
}


.tweets {
  border: 3px solid  #545149;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
}

.tweets:hover {
  box-shadow: 8px 8px #B5C3CB;
}
.fas:hover {
  color: #CEB8A6;
}

.tweets header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:  #545149;
  margin-bottom: 70px;
}

.tweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.6em;
  color:  #545149;
}


.tweets .content {
 width: 90%;
 border-bottom: 2px solid  #545149;
}

.tooLong{
  color: #D26466;
}

